.back-img {
  box-shadow: 0 6px 28px 0 rgba(24, 52, 117, 0.2);
}

.chartjs-render-monitor {
  background-color: inherit !important;
}

.flipInY {
  -webkit-backface-visibility: visible !important;   
  backface-visibility: visible !important;
  animation: flipInY 2s;
  -webkit-animation: flipInY 2s;
}


@-webkit-keyframes flipInY {
  0% { -webkit-transform: perspective(400px) rotateY(90deg); opacity: 0; }
  40% { -webkit-transform: perspective(400px) rotateY(-10deg); }
  70% { -webkit-transform: perspective(400px) rotateY(10deg); }
  100% { -webkit-transform: perspective(400px) rotateY(0deg); opacity: 1; }
}

@keyframes flipInY {
  0% { transform: perspective(400px) rotatey(90deg); opacity: 0; }
  40% { transform: perspective(400px) rotatey(-10deg); }
  70% { transform: perspective(400px) rotatey(10deg); }
  100% { transform: perspective(400px) rotatey(0deg); opacity: 1; }
}