
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Pacifico;
  src: url(./fonts/Pacifico-Regular.ttf);
}


body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #f3f3f3 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a { text-decoration: none !important; }

.logo { color:#007bff; font-family: Pacifico; }


form {
  background-color: #ffffff !important;
  padding: 30px;
  border-radius: 5px;
}

canvas, .form-control {
  background-color: #343a40 !important;
  color: #ffffff !important;
  transition: all .3s ease;
}

.form-control:focus {
  background-color: #ffffff !important;
  color: #343a40 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.list-group-item, .btn, label, a { text-transform: uppercase;}
label { color: #a2a2a2; }

.jumbotron {
  background-color: #343a40 !important;
  color: #ffffff !important;
  border-radius: 0;
}


.list-group a h5 { color: #007bff !important; }
.list-group a h5 small { font-size: 12px; color: #808080; }

#list-packages {    
  color: #007bff;
  border:rgb(65, 65, 65);
  cursor: pointer;
}

#list-packages:hover,
#list-packages:active { color: #343a40 !important; }

.badge { 
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important; 
}

.alert-nfound {
  background-color: #ffffff;
  border-color: #ececec;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-link {
  background-color: white;
  border: 0;
  color: #007bff;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}

.font-s12 { font-size: 12px !important; }
.font-s14 { font-size: 14px !important; }
.display-5 { font-size: 30px; }

.p-w { padding: 10px 130px;}

.list-categories { display: none; }
#list-categories { max-height: 800px; overflow: auto; }

canvas {
  background-color: white;
  padding: 8px 0px 0px;
  border-radius: 5px;
}

.bg-dark-bordred {
  background-color: #343a40;
  padding: 10px;
  margin: 0;
  border: 2px solid #1d2124;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
}



footer {
  height: 100px;
  border-top: 1px #e5e4ec solid;
}

footer p {
  line-height: 100px;
  margin: 0;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  
  .w-25, .w-50, .w-75 { width: 100% !important; }
  .p-w { padding: 10px 20px !important; width: 100% !important; }
  .list-categories { display: block; }
  #list-categories { display: none; }
  .display-5 { font-size: 22px; }

  footer p {
    line-height: 20px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
    margin: 1.75rem auto;
  }
}
