@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Pacifico;
  src: url(./fonts/Pacifico-Regular.ttf);
}


body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.logo { color:#007bff; font-family: Pacifico; }

p { font-family: Montserrat; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.list-group-item, .btn, label, a { text-transform: uppercase;}

.jumbotron {
  background-color: #343a40 !important;
  color: #ffffff !important;
  border-radius: 0;
}


.list-group a h5 { color: #007bff !important; }
.list-group a h5 small { font-size: 12px; color: #808080; }

.lst-left .list-group-item {    
  color: #007bff;
  border:rgb(65, 65, 65);
  cursor: pointer;
}

.lst-left .list-group-item:hover,
.lst-left .list-group-item:focus,
.lst-left .list-group-item:active { color: #000000; }


.alert-nfound {
  background-color: #ffffff;
  border-color: #ececec;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-w { padding: 10px 130px;}

@media screen and (max-width: 600px) {
  
  .p-w { padding: 0 !important; }
  
}